<ul class="list-group">
    <li class="list-group-item">
        <h3>Twoje posty</h3>
        <p class="alert alert-danger" *ngIf="errorStatus !== 400">Nie masz żadnych upublikowanych postów</p>
        <div class="list-group" *ngFor="let post of posts" >
            <a routerLink="../posts/{{post.forumPostId}}" role="button" class="list-group-item list-group-item-action post">
                <div class="row">
                    <div class="col-sm-1 pointsection">
                        <h3>{{post.points}}</h3>
                      </div>
                      <div class="col-sm-11">
                          <div class="row">
                              <div class="col-sm">
                                  <p class="category">{{post.category}}</p>
                                </div>
                                <div class="col-sm">
                                  <p class="date text-right">Upublikowano przez {{post.userLogin}} w dniu {{post.addPostTime}}</p>
                                </div>
                          </div>
                          <!-- <h2 class="title">{{post.title}}</h2> -->
                          <h4 class="text">{{post.postText}}</h4>
                          <button type="button" class="btn btn-info">
                            <span class="badge badge-light">X</span> Komentarzy
                          </button>
                          
                        </div>    
                </div>
            </a>
            <button type="button" routerLink="../posts/{{post.forumPostId}}/editpost"class="btn btn-primary">Edytuj post</button>
            <button type="button" (click)="deletePost(post.forumPostId)" class="btn btn-danger">Usuń post</button>
        </div>
    </li>
</ul>
